__pycache__/
.cache
.coverage
.coverage.*
.eggs/
.hypothesis/
.installed.cfg
.pytest_cache/
.Python
.webassets-cache
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
*$py.class
build/
coverage.xml
develop-eggs/
dist/
eggs/
htmlcov/
instance/
MANIFEST
pip-delete-this-directory.txt
pip-log.txt
sdist/
venv/
wheels/
